<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1075203268128-qtjl2ce70b2cijem6qkrgmm3j2ln0c0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075203268128-qtjl2ce70b2cijem6qkrgmm3j2ln0c0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCjh0O5cb2NF40t-7jJ59oAb-b_8NtW4YE</string>
	<key>GCM_SENDER_ID</key>
	<string>1075203268128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itesm.SaludIntegral</string>
	<key>PROJECT_ID</key>
	<string>saludintegral-b97e1</string>
	<key>STORAGE_BUCKET</key>
	<string>saludintegral-b97e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075203268128:ios:0d73310e98e51739</string>
	<key>DATABASE_URL</key>
	<string>https://saludintegral-b97e1.firebaseio.com</string>
</dict>
</plist>